.box-50{
    width: 50%;
}

.box-50 a {
    overflow: hidden;
}

.header{
    background-color: rgb(126, 126, 255);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.register-btn{
    padding: 5px;
    text-decoration: none;
    background-color: green;
    border: 1px solid black;
    border-radius: 20px;
    float: right;
    margin-right: 15px;
    color: black;
    font-weight: bold;
    margin-top: 15px;
}
.register-btn:hover{
    background-color: rgb(79, 224, 79);
    color:white
}
.main-nav{
    display:  flex;
    list-style: none;
}

.main-nav button{
    padding: 6px 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(79, 224, 79);
    cursor: pointer;
}

.main-nav button:hover{
    background-color:  rgb(134, 34, 34);
    color:white
}

.flex-div{
    display: flex;
    justify-content: flex-end;
    line-height: 20px;
}
.fa-home{
    font-size: 60px;
    color: rgb(0, 95, 0);
    border: 3px solid black;
    border-radius: 50%;
}

.active {
    color: white;
}

